.row-header{
    margin:0px auto;
    padding:0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 70px 0px;
    border-bottom: 0px ridge;
    background-color: #d3cfcf;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #f2f3f7;
    color:floralwhite;
}
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
